<%- include("./partials/head", {link :"/css/detalles-producto.css", titulo: "Detalle de producto"}) %>
    
<body>
    <%- include('./partials/header')%>
    
    <main>
        <section>
            <div id="idProduct"><% producto.id %></div>
            <img src="/img/pexels-img2.jpg" alt="img" class="imagen" id="img">
            <article class="primera-parte">
                <div class="titulo-texto">
                    <h2 class="titulo-curso" id="name">
                        <%= producto.name%> 
                    </h2>
                    <p id="description"><%= producto.description %></p>
                    <h3 class="precio" id="price">$<%= producto.price %></h3>
                </div>
                <div class="contenedor-divs-deseados-boton">
                    <div class="deseados">
                        <li><a href="#">Añadir a la lista de deseados</a></li>
                    </div>
                    <div class="deseados-boton">
                        <a href="#" class="botones" id="addCart">Añadir al carrito</a>
                        <a href="#" class="vista-desktop botones">¡Comprar ya!</a>
                    </div>
                </div>
            </article>
        </section>
        <section class="section-modulos">
            <article class="contenedor-modulos">
                <h2>Plan de estudios</h2>
                <div class="modulos"><p>Módulo 1</p></div>
                <div class="modulos"><p>Módulo 2</p></div>
                <div class="modulos"><p>Módulo 3</p></div>
                <div class="modulos"><p>Módulo 4</p></div>
                <div class="modulos"><p>Módulo 5</p></div>
            </article>
            <article class="contenedor-modulos-modalidad">
                <h2>Modalidad</h2>
                <ul>
                <li class="plan">
                    <i class="fa-solid fa-calendar-days"></i>
                    <span class="simbolos-p">
                        <p class="p-plan">Duración</p>
                        <p class="vista-desktop">5 meses</p>
                    </span>
                </li>
                <li class="plan">
                    <i class="fa-solid fa-laptop"></i>
                    <span class="simbolos-p">
                        <p class="p-plan">Dedicación semanal</p>
                        <p class="vista-desktop">martes y jueves 21hs - 23:30hs</p>
                    </span>
                </li>
                <li class="plan">
                    <i class="far fa-file"></i></i>
                    <span class="simbolos-p">
                        <p class="p-plan">Fechas</p>
                        <p class="vista-desktop">Julio-Diciembre-Marzo</p>
                    </span>
                </li>
                <li class="plan">
                    <i class="fa-regular fa-clock"></i>
                    <span class="simbolos-p">
                        <p class="p-plan">Turnos</p>
                        <p class="vista-desktop">Noche</p>
                    </span>
                </li>
                </ul>
                <div class="div-descargar-programa">
                    <a href="#" class="vista-desktop botones">Descargar programa</a>
                </div>
            </article>
        </section>
        <section class="por_ahora">
            <a href="/productos/editar/<%= producto.id%>" class="vista-desktop botones">Editar producto</a>
        </section> 
    </main>
    <%- include('./partials/footer')%>
    <script src="/public/js/addShopCart.js"></script>
</body>
</html>