<%- include("./partials/head", {link :"/css/edit-product.css", titulo: "Modificar producto"}) %>
<link rel="stylesheet" href="/css/edit-product.css">
<title>Modificar producto</title>
    
</head>
<body>
    <%- include('./partials/header')%>
<!--MAIN START-->
    <main>
        <form method="POST" action="/productos/editar/<%=producto.id%>?_method=PUT">
            <section class="section-1">
                <div class="imagen">
                <img src="/img/upload img.jpg" alt="img" class="imagen">
                </div>
                <article class="detalle-producto">
                    <input type="text" name="nombre" value= <%= producto.name%>>
                    
                    <textarea id="text" name="descripcion" rows="8" cols="40"><%= producto.description %></textarea>
                    
                    <div class="categoria-precios"> 
                        <input type="number" name="precio" placeholder="Precio" value= "<%= producto.price %>">
                    </div> 
                </article>
            </section>

            <section class="section-modulo">
                <article class="modulo"> 
                    <p class="subtitulo-main">Módulo 1</p>
                    <br>
                    <textarea class="descripcion" id="text" name="modulos" rows="8" cols="40" placeholder="Descripción"></textarea>
                    <br/>
                </article>
                <button type="button" class="boton-agregar">Agregar <p>+</p></button>
            </section>
            <section class="section-modalidad">
                <h2>Modalidad</h2>
                    <article class="modalidad1">
                        
                            <p class="subtitulo-main"><i class="fa-solid fa-laptop"></i> Cronograma</p>
                            <input class="descripcion" type="text" name="dias" value= "<%= //producto.cronograma.dias%>">

                            <input class="descripcion" type="text" name="horarios" value= "<%= //producto.cronograma.horarios%>">
                    </article>
                    <article class="modalidad1">
                            <p class="subtitulo-main"><i class="fa-solid fa-calendar-days"></i> Fecha de inicio</p>
                            <input class="descripcion" type="date" name="fechaInicio" value= "<%= //producto.fechaInicio%>"> 

                            <p class="subtitulo-main"><i class="fa-solid fa-calendar-days"></i> Fecha de finalización</p>
                            <input class="descripcion" type="date" name="fechaFinalizacion" value= <%= //producto.fechaFinalizacion%>>
                    </article>
                    <article class="modalidad1">
                            <p class="subtitulo-main"><i class="fa-regular fa-clock"></i> Turnos</p>
                            <select class="descripcion" name="turno" id="">
                                <option value="" disabled selected>Selecciona el turno elegido</option>
                                <option value="Mañana">Mañana</option>
                                <option value="Tarde">Tarde</option>
                                <option value="Noche">Noche</option>
                            </select>
                        </article>
                    </section>

                    <section class="por_ahora">
                        <button class="por_ahora_boton" type="submit">Editar programa</button>
                    </section>
        </form>
        <form action="/delete/<%= producto.id%>?_method=DELETE" method="POST">
            <button class="por_ahora_boton" type="submit">Borrar Producto</button>
        </form>
        
    </main>
<!--MAIN ENDS-->
    <%- include('./partials/footer')%>
</body>
</html>