<%- include("./partials/head", {link :"/css/styles.css", titulo: "Creative Place"}) %>
    <link rel="stylesheet" href="/css/styles.css">
    <title>home</title>
<body>
    <%- include('./partials/header')%>
<!-- MAIN--> 

    <main>
        <section class="first-section">
            <img src="img/img-home.jpg" alt="" class="imagen">
            <article>
                <div class="text-bg">
                    <h1 class="welcome-title">Bienvenidos a Creative Pleace</h1>
                    <p  class="welcome-message"> 
                        En este espacio vas a encontrar todo lo que necesitás para impulsarte al futuro.
                    </p>
                </div>
                <button class="botones2">
                    ¡Aplicá ya!
                </button>
            </article>               
                </section>  
        <section class="second-section">
            <% for( let i = 0; i < productos.length; i++ ) { %>
                <a href="/detalle/<%= productos[i].id %> ">
                    <%= productos[i].name %> 
                </a>
            <% } %>

            <!--<a href="#">
                Inglés para Programadores
            </a>

             <a href="#">
                Data Analitycs
            </a>

            <a href="#">
                Data Science
             </a>
             
            <a href="#">
                Full Stack Developer
            </a>

            <a href="#">
                Cyber Security
            </a>-->
        </section>

        
    </main> 

<!--Termina MAIN-->
    <%- include('./partials/footer')%>
</body>
</html>