<%- include("./partials/head", {link :"/css/styles.css", titulo: "Creative Place"}) %>
    <link rel="stylesheet" href="/css/styles.css">
    <title>home</title>
<body>
    <%- include('./partials/header')%>
<!-- MAIN--> 

    <main>
        <section class="first-section">
            <img src="img/img-home.jpg" alt="" class="imagen">
            <article>
                <div class="text-bg">
                    <h1 class="welcome-title">Bienvenidos a Creative Pleace</h1>
                    <p  class="welcome-message"> 
                        En este espacio vas a encontrar todo lo que necesitás para impulsarte al futuro.
                    </p>
                </div>
                <a class="botones2" href="/products">
                    ¡Da un vistazo a nuestros cursos disponibles!
                </a>
            </article>               
                </section>  
        <section class="second-section">
            <% for( let i = 0; i < productos.length; i++ ) { %>
                <a href="/detalle/<%= productos[i].id %>">
                    <%= productos[i].name %> 
                </a>
            <% } %>
        </section>
    </main> 

<!--Termina MAIN-->
    <%- include('./partials/footer')%>
</body>
</html>