<%-include("./partials/head", {link: "/css/productList.css", titulo: "Listado de productos"}) %>
<link rel="stylesheet" href="/css/productList.css">
<title>Listado de productos</title>
    
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <section class="contenedor-lista">
        <h1>Listado de productos</h1>
        
        <ul>
            <% for (let i = 0; i < productos.length; i++) { %>
                <li>
                    <a href="/detalle/<%=productos[i].id%>"><%= productos[i].name %></a>
                </li>
            <% } %>
        </ul>
    </section>
    <% if(user && user.roleID == 1){ %>
    <section class="por_ahora">
        <a class="por_ahora_boton" href="/products/create">Crear Producto</a>
    </section>
    <% } %>
    </main>
    <!--MAIN ENDS-->
    <%- include('./partials/footer')%>
</body>
</html>
