<%-include("./partials/head", {link: "/css/productList.css", titulo: "Listado de productos"}) %>
<link rel="stylesheet" href="/css/productList.css">
<title>Listado de productos</title>
    
</head>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <section class="contenedor-lista">
        <h1>Listado de productos</h1>
        <form action="/products/search" method="GET">
            <input type="text" placeholder="Busca un producto" name="search">
            <input class="boton-buscar" type="submit" value="Buscar">
        </form>
        <ul>
            <% for (let i = 0; i < productos.length; i++) { %>
                <li>
                    <a href="/detalle/<%=productos[i].id%>"><%= productos[i].nombre %></a>
                </li>
            <% } %>
        </ul>
    </section>
    </main>
    <!--MAIN ENDS-->
    <%- include('./partials/footer')%>
</body>
</html>
