<%- include("./partials/head", {link :"/css/register.css", titulo: "register"}) %>
<link rel="stylesheet" href="/css/register.css">
<title>register</title>
<body>
    <!-- Header -->
    <%- include('./partials/header')%>
    <!-- Main -->
    <main>
        <section class="seccion-1">
            <div class="message-register">
            Las siguientes empresas contratan a nuestros estudiantes.
            </div>
            <ul>
                <li><a href="#">Mercado Liebre</a></li>
                <li><a href="#">Globante</a></li>
                <li><a href="#">Aterrizar</a></li>
                <li><a href="#">OLX</a></li>
                <li><a href="#">Auth0</a></li>
            </ul>

        </section>
        <section class="seccion-2">
            <h2 class="titulo">Impulsá tu futuro.</h2>
            <% if(locals.errors){
              errors.forEach(error => { %>
                <p class="feedback is-danger"><%= error.msg %></p> // CREAR ESTA CLASE EN CSS PARA EL ESTILO DEL MENSAJE DE ERROR
                <% }) 
                   } 
                %>

            <div class="errores">
                <ul></ul>    
            </div>
            <form method="POST" action="/register" class="form-register">

                <input type="text" name="firstName" value="<%= locals.old && old.firstName ? old.firstName : ''%>" id="firstName" placeholder="Nombre">
                
                
                    <input type="text" name="lastName" value="<%= locals.old && old.lastName ? old.lastName : ''%>" id="lastName" placeholder="Apellido">
                
                
                    <select name="country" id="country">
                        <option value="" disabled selected>Selecciona tu país de residencia</option>
                        <option value="Argentina" <%= locals.old && old.country === 'Argentina' ? 'selected' : ''; %>>Argentina</option>
                        <option value="Bolivia" <%= locals.old && old.country === 'Bolivia' ? 'selected' : ''; %>>Bolivia</option>
                        <option value="Brasil" <%= locals.old && old.country === 'Brasil' ? 'selected' : ''; %>>Brasil</option>
                        <option value="Chile" <%= locals.old && old.country === 'Chile' ? 'selected' : ''; %>>Chile</option>
                        <option value="Colombia" <%= locals.old && old.country === 'Colombia' ? 'selected' : ''; %>>Colombia</option>
                        <option value="Estados Unidos" <%= locals.old && old.country === 'Estados Unidos' ? 'selected' : ''; %>>Estados Unidos</option>
                        <option value="Honduras" <%= locals.old && old.country === 'Honduras' ? 'selected' : ''; %>>Hondu ras</option>
                        <option value="Paraguay" <%= locals.old && old.country === 'Paraguay' ? 'selected' : ''; %>>Paraguay</option>
                        <option value="Perú" <%= locals.old && old.country === 'Perú' ? 'selected' : ''; %>>Perú</option>
                        <option value="México" <%= locals.old && old.country === 'México' ? 'selected' : ''; %>>México</option>
                        <option value="Uruguay" <%= locals.old && old.country === 'Uruguay' ? 'selected' : ''; %>>Uruguay</option>
                        <option value="Venezuela" <%= locals.old && old.country === 'Venezuela' ? 'selected' : ''; %>>Venezuela</option>
                        <option value="Otro" <%= locals.old && old.country === 'Otro' ? 'selected' : ''; %>>Otro</option>
                    </select>
                
                    <input type="email" name="email" value="<%= locals.old && old.email ? old.email : ''%>" id="email" placeholder="E-mail">
                

                
                    <input type="password" name="password" id="password" placeholder="Contraseña">
                
                    
                    <button class="botones" type="submit">Registrarme</button>
                    
                    
                    
                    <p class="link-login">¿Ya tienes una cuenta? <a href="/login">Ingresa aquí.</a> </p>
                    
                    
                    <button class="botones">
                        <a href="#" class="botones2"><i class="fa-brands fa-facebook"></i>Registrarme con Facebook</a>
                    </button>
                    
                    <button class="botones">
                        <a href="#" class="botones2"><i class="fa-brands fa-google"></i>Registrarme con Google</a>
                    </button>
                    
                </form>
        </section>
    </main>
    <!-- footer -->
    <%- include('./partials/footer')%>
    </body>
    </html>